
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* font: 12pt "Tahoma"; */
}
* {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
.page1 {
    width: 210mm;
    min-height: 297mm;
    padding: 4mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page2 {
    width:297mm;
    min-height: 210mm;
    padding: 4mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 2px #000 solid;
    min-height: 297mm;
    outline: 2cm #fff solid;
    padding: 10px;
    border: 2px #000 solid;
    word-wrap: break-word;
}

@page {
    size: A4;
    margin: 0 !important;
}
@media print {
    html, body {
        width: 210mm !important;
        height: 297mm !important;
    }
    .page1 {
        margin: 0 !important;
        border: initial;
        border-radius: initial;
        /* width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial; */
        page-break-after: always;
    }
    .q-page-container{
    padding: 0 !important;
  }
    .page2 {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .pgr{
        display:none;
    }



}
